<h2>Contact list:</h2>

<div *ngIf="!_selectedUser?.infoObject; else screenUserDetails" class="app-user-list">
  <ul *ngIf="userList?.length > 0; else showErrorScreen">
    <li *ngFor="let u of userList; let idx = index" [class]="u.selected ? 'selected':''" (click)="selectUser(u, idx);">
      <app-user-card
              [user]="u"
              (onRemove)="deleteUser($event)"
              >
      </app-user-card>
    </li>
  </ul>
  <ng-template #showErrorScreen>
    <p>No users in userList...</p>
  </ng-template>
</div>
<ng-template #screenUserDetails>
  <h2>User {{_selectedUser.infoObject?.fullName}} details: </h2>
  <p>{{_selectedUser.infoObject?.address}}</p>
</ng-template>