
<div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-4 col-lg-4 col-md-4 center-block">
  
        <form action="">
          <div class="form-group">
            <div >
              <input class="form-control" type="text" placeholder="Ваша почта" id="example-text-input">
            </div>
          </div>
  
          <div class="form-group">
            <div>
              <input class="form-control" type="text" placeholder="Пароль" id="example-text-input">
            </div>
          </div>
  
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" routerLink="/mails/inbox"> Вход </button>
          </div>
  
        </form>
      </div>
    </div>
  </div>