body {
    font-family: Arial;
}

.wrapper {
    overflow: hidden;
}

.description {
    font-size: 17px;
    color: grey;
    margin: 5px 0;
    line-height: 1.3;

}

.name {
    font-size: 21px;
}

.item {
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

button {
    background: black;
    border: 1px solid #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    display: inline-block;
    padding: 6px 13px;
    transition: 0.5s;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}
button:hover {
    opacity: 0.8;
    background: gainsboro;
    border-color: gainsboro;
    color: black;

}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    float: left;
    margin: 15px 16px 0 0;
}

.users-list {
    width: 470px;
    margin: 50px auto ;
    list-style: none;
}

.active {
    background: sandybrown;

}

.active,
.active .description{
    color: #fff;
}

input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  border: 1px solid red;
}


.form-add-user {
  max-width: 500px;
  margin: 50px auto 0;
}

.error-mess {
  color: red;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

.invalidForm input.ng-invalid,
.invalidForm select.ng-invalid{
  border: 1px solid red;
}
