<app-navigation></app-navigation>

<form class="form-add-user" [formGroup]="addUserForm" (submit)="addUser(addUserForm)" [ngClass]="{invalidForm: FormInvalid}">
  <div class="name-wrapper">
    <div class="form-group">
      <input class="form-control" formControlName="first" placeholder="First name">
      <div class="error-mess" *ngIf="!addUserForm.controls.first.valid && !addUserForm.controls.first.pristine">
        {{addUserForm.controls.first.errors.nameValidator.error}}
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="last" placeholder="Last name">
      <div class="error-mess" *ngIf="!addUserForm.controls.last.valid && !addUserForm.controls.last.pristine">
        {{addUserForm.controls.last.errors.nameValidator.error}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <select class="form-control" formControlName="genderControl">
      <option selected value> -- select gender --</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <div class="error-mess" *ngIf="!addUserForm.controls.genderControl.valid && !addUserForm.controls.genderControl.pristine">
      {{addUserForm.controls.genderControl.errors.sexValidator.error}}
    </div>
  </div>
  <div class="form-group">
  <input class="form-control" type="date" formControlName="birthdateControl"  placeholder="1991-03-22">
    <div class="error-mess" *ngIf="!addUserForm.controls.birthdateControl.valid && !addUserForm.controls.birthdateControl.pristine">
      {{addUserForm.controls.birthdateControl.errors.birthdatValidator.error}}
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" formControlName="emailControl" placeholder="Your email">

    <div class="error-mess" *ngIf="!addUserForm.controls.emailControl.valid && !addUserForm.controls.emailControl.pristine">
      {{addUserForm.controls.emailControl.errors.emailValidator.error}}
    </div>
  </div>
  <div class="form-group">
    <button class="btn">Submit</button>
  </div>
</form>


<ul class="users-list">
  <li class="item" *ngFor="let item of dataUser">
    <div>
      <div class="wrapper">
        <div class="name">{{item?.first}}</div>
        <div class="name">{{item?.last}}</div>
        <div class="name">{{item?.genderControl}}</div>
        <div class="name">{{item?.birthdateControl | birthdate}}</div>
        <div class="name">{{item?.emailControl}}</div>
      </div>
    </div>
  </li>
</ul>
