<app-navigation></app-navigation>

<form class="form-add-user" [ngClass]="{invalidForm: FormInvalid}" #formUSer="ngForm" (submit)="addUser(formUSer)">
  <div class="form-group">
    <input class="form-control" #name="ngModel" ngModel name="FirstName" appNameValidator required  placeholder="First name">

    <div class="error-mess" *ngIf="!name.valid && !formUSer.form.controls['FirstName'].pristine">
      {{formUSer.form.controls['FirstName'].errors.nameValidator.error }}
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" #secondName="ngModel" name="SecondName" appNameValidator required ngModel placeholder="Second name">
    <div class="error-mess" *ngIf="!secondName.valid && !formUSer.form.controls['SecondName'].pristine">
      {{formUSer.form.controls['SecondName'].errors.nameValidator.error }}
    </div>
  </div>
  <div class="form-group">
    <select class="form-control"  #sex="ngModel" name="sex" ngModel appSexValidator required>
      <option value="">select gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <div class="error-mess" *ngIf="!sex.valid && !formUSer.form.controls['sex'].pristine">
      {{formUSer.form.controls['sex'].errors.sexValidator.error }}
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" type="date"  #birthdate="ngModel" appBirthdatValidator name="birthdate" ngModel placeholder="1991-03-22">
    <div class="error-mess" *ngIf="!birthdate.valid && !formUSer.form.controls['birthdate'].pristine">
      {{formUSer.form.controls['birthdate'].errors.birthdatValidator.error }}
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" #email="ngModel"  name="email" appEmailValidator ngModel placeholder="Email">
    <div class="error-mess" *ngIf="!email.valid && !formUSer.form.controls['email'].pristine">
      {{formUSer.form.controls['email'].errors.emailValidator.error }}
    </div>
  </div>
  <div class="form-group">
    <button class="btn">Submit</button>
  </div>
</form>

<!--<ul class="users-list">-->
  <!--<li class="item" *ngFor="let user of data" [routerLink]="user._id">-->
    <!--<div>-->
      <!--<div class="wrapper">-->
        <!--<div class="name">{{user?.fullName}}</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->
<!--</ul>-->

<ul class="users-list">
  <li class="item" *ngFor="let item of dataUser">
    <div>
      <div class="wrapper">
        <div class="name">{{item?.FirstName}}</div>
        <div class="name">{{item?.SecondName}}</div>
        <div class="name">{{item?.sex}}</div>
        <div class="name">{{item?.birthdate | birthdate}}</div>
        <div class="name">{{item?.email}}</div>
      </div>
    </div>
  </li>
</ul>
