<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a routerLink="inbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Входящие</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="send" routerLinkActive="active" class="nav-link">Отправленные</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="spam" routerLinkActive="active" class="nav-link">Спам</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="deleted" routerLinkActive="active" class="nav-link">Удаленные</a>
                    </li>
                    <li class="nav-divider"></li>
                    <li class="nav-item">
                        <a href="/">
                        <i class="glyphicon glyphicon-off"></i> Выход</a>
                    </li>
                </ul>
            </nav>
        </div>


        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
    </div>


</div>