<div class="container">
  <form>

    <label for="subject">Subject:</label>
    <input type="text" id="subject" placeholder="Subject.." value="{{getLetter()?.subject}}">

    <label for="email">From / To:</label>
    <input type="text" id="email" placeholder="E-mail.." value="{{getLetter()?.to}}">

    <label for="body">Body:</label>
    <textarea id="body" placeholder="Letter text.." value="{{getLetter()?.body}}" style="height:200px"></textarea>

    <!--<input type="submit" value="Submit">-->

  </form>
</div>
