<!--The content below is only a placeholder and can be replaced.-->
<a routerLink= "" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
<a routerLink= "users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a>
<a routerLink= "settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Settings</a>
<a [routerLink]= "['users', userId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">User 12-1</a>
<router-outlet></router-outlet>
