<form #f="ngForm">
  <table class="tblForAdd">
    <tbody>
      <tr>
        <td>Фамилия:</td>
        <td><input [ngModel]="familyControl" name="familyControl" required minlength="2"></td>
      </tr>
      <tr>
        <td>Имя:</td>
        <td><input [ngModel]="nameControl"  name="nameControl" required minlength="2"></td>
      </tr>
      <tr>
        <td>Отчество:</td>
        <td><input [ngModel]="secondNameControl"  name="secondNameControl" required minlength="2"></td>
      </tr>        
      <tr>
        <td>Пол:</td>
        <td>
          <select [ngModel]="userSex" name = "userSex" required>
            <option *ngFor="let item of sexArray" value="{{item.Id}}">{{item.Name}}</option>
          </select>          
        </td>
      </tr> 
      <tr>
        <td>Дата рождения:</td>
        <td><input type="date" [ngModel]="bDay" name = "bDay" appValidateBd><span class="msgError">{{f.controls.bDay?.errors?.validateBD.message}}</span></td>
      </tr>            
      <tr>
        <td>Email:</td>
        <td><input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngModel]="email" name = "email" required></td>
      </tr>                
    </tbody>
  </table>
  <input class="btnSave" type="button" value="Сохранить" [disabled]="!f.valid" (click)="addUser(f)"> 
</form>