<div class="card">
    <h3 class="card-header">{{adres.fullName}}</h3>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-info" [routerLink]="adres._id">Подробнее</button>
      <button class="btn btn-danger" (click)="deleteAdres(adres._id)">Удалить адрес</button>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>