.nav-link {
    margin-bottom: 10px;
}

.nav-link.active {
    background-color: #32383e;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 4px;

}

.nav-link:hover {
    background-color: #32383e;
    border-radius: 4px;
}