

  <div style="width: 10%" *ngFor="let user of users">
    <app-user-card [user]="user" (userToRemove)="removeUser($event)"></app-user-card>
    <p></p>
  </div>

  <form [formGroup]="newUserControl">
    Enter first name:
    <input #usernameElement
           formControlName="firstName"><div *ngIf="isFieldValid('firstName')" style="color: red">enter first name</div>
    <p></p>
    Enter email:
    <input #emailElement formControlName="emailInput"> <div *ngIf="isFieldValid('emailInput')" style="color: red">incorrect email</div>

    <p></p>

    <button type="submit"
            [disabled]="!newUserControl.valid"
            (click)="addUser(usernameElement.value, emailElement.value);
                           usernameElement.value = ''; emailElement.value = '';">
      Add user
    </button>
  </form>



